
<br />
<br />


<form class="form-horizontal" role="form" novalidate>
	<div class="form-group">
		<label class="col-md-2 control-label">ID</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="id"
					data-ng-model="id" placeholder="Enter ID"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Gender</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="gender"
					data-ng-model="gender" placeholder="Enter Gender"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Name</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="name"
					data-ng-model="name" placeholder="Enter Name"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label">Email</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="email"
					data-ng-model="email" placeholder="Enter Email"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label">City</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="city"
					data-ng-model="city" placeholder="Enter City"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<a href="#!emp-data"><input type="button" value="Save Details" data-ng-click="addRow()" class="btn btn-success" /></a>
		</div>
	</div>
</form>
